@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap");
@import "reset.css";
@import "variables.css";

/* components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/card.css";
@import "components/badge.css";

/* screens */
@import "screens/login.css";
@import "screens/friends.css";
body {
  font-family: "Open Sans", sans-serif;
}

main {
  padding-left: 20px;
  padding-right: 20px;
}
