.chatroom-bg {
  background-color: #abc1d1;
  height: 200vh;
}

.main-chatroom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .main-chatroom .chatroom {
  justify-content: left;
  background-color: red;
} */

.chatroom-datetime {
  margin-top: 80px;
  z-index: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  font-weight: 200;
  font-size: 12px;
  /* text-align: center; */
  padding: 12px;
  border-radius: 18px;
  margin-bottom: 25px;
}

.chatroom {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 12px;
}

.chatroom-card__avatar img {
  width: 40px;
  height: 40px;
  border-radius: 13px;
  margin-right: 10px;
}

.chatroom-card__content {
  display: flex;
  flex-direction: column;
}

.chatroom-card__author {
  color: var(--gray);
  margin-bottom: 10px;
  font-size: 14px;
}

.chatroom-card__info {
  display: flex;
  align-items: flex-end;
}

.chatroom-card__text {
  background-color: white;
  font-size: 22px;
  border-radius: 10px;
  padding: 10px;
  border-top-left-radius: 0px;
}

.chatroom-card__timestamp {
  color: var(--gray);
  font-size: 12px;
  margin-left: 8px;
}

.chatroom-me {
  justify-content: flex-end;
}

.chatroom-me .chatroom-card__info {
  flex-direction: row-reverse;
}

.chatroom-me .chatroom-card__text {
  background-color: yellowgreen;
  border-radius: 10px;
  border-top-right-radius: 0px;
  margin-left: 8px;
}
