.friends-display-link {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray);
  padding: 10px 0px;
}

.friends-display-link i {
  margin: 0px 10px;
}

.list-channel {
  margin-top: 20px;
  border-top: 1px solid var(--gray);
}

.list-channel__holder {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.list-channel__holder {
  color: var(--gray);
}

.splash {
  background-color: var(--yellow);
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -10px;
  font-size: 120px;
  z-index: 10;
  animation: hideSplash 0.3s ease-in-out forwards;
  animation-delay: 0.6s;
}

@keyframes hideSplash {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}

/* body {
  position: relative;
} */
