.friends-display-link {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray);
  padding: 10px 0px;
}

.friends-display-link i {
  margin: 0px 10px;
}

.list-channel {
  margin-top: 20px;
  border-top: 1px solid var(--gray);
}

.list-channel__holder {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.list-channel__holder {
  color: var(--gray);
}
