.card {
  margin-top: 20px;
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: space-between;
}

.card-left {
  display: flex;
  align-items: center;
}

.card-left__img {
  height: 50px;
  width: 50px;
  border-radius: 30%;
}

.card-left__img_small {
  height: 40px;
  width: 40px;
  border-radius: 30%;
}

.card-left__text {
  margin-left: 10px;
}

.card-left__text_title {
  font-size: 20px;
  font-weight: 600;
}

.card-left__text_title2 {
  font-size: 17px;
}

.card-right span {
  color: var(--gray);
}
