.card {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-left {
  display: flex;
  align-items: center;
}

.card-left__img {
  height: 50px;
  width: 50px;
  border-radius: 30%;
}

.card-left__img_small {
  height: 40px;
  width: 40px;
  border-radius: 30%;
}

.card-left__text {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.card-left__text_title {
  font-size: 20px;
  font-weight: 600;
}

.card-left__text_title2 {
  font-size: 20px;
  font-weight: 500;
}

.card-left__text_subtitle {
  margin-top: 10px;
  font-size: 15px;
  color: var(--gray);
  display: flex;
  align-items: center;
}

.card-right span:not(.badge) {
  color: var(--gray);
}

.card-right {
  display: flex;
  flex-direction: column;
  /* justify-content: right; */
  align-items: flex-end;
}

.card-right__time {
  display: flex;
  margin-bottom: 10px;
  font-size: 14px;
}

.card-left__text_subtitle i {
  color: red;
  margin-left: 5px;
}
