.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding-right: 20px;
}

.icons__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  margin-top: 10px;
  /* justify-content: space-between; */
}

.icons__icon i {
  margin-bottom: 10px;
}
