.nav__ul {
  display: flex;
  justify-content: space-around;
  background-color: ghostwhite;
  padding: 20px 0;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.nav__a {
  display: flex;
  position: relative;
}

.nav__notification {
  position: absolute;
  top: -12px;
  right: -18px;
}

.nav__notification_dot {
  background-color: red;
  color: white;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  position: absolute;
  top: -5px;
  right: -8px;
}
