.nav__ul {
  display: flex;
  justify-content: space-around;
  background-color: ghostwhite;
  padding: 20px 0;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

@keyframes btnShow {
  from {
    opacity: 0;
    /* transform: translateY(50px); */
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.nav__a {
  display: flex;
  /* position: relative; */
}

.nav__li {
  animation: btnShow 1s ease-in-out forwards;
  transform: translateY(70px);
}

.nav__li:nth-child(2) {
  animation-delay: 0.2s;
}
.nav__li:nth-child(3) {
  animation-delay: 0.4s;
}
.nav__li:nth-child(4) {
  animation-delay: 0.6s;
}

@keyframes cogSpin {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}
/* .test_cog {
  display: flex;
  position: relative;
} */
.nav__a_noani {
  display: flex;
  /* position: relative; */
}

.nav__a_noani:hover {
  animation: cogSpin 1s linear infinite;
}

@keyframes notificationT {
  0% {
    transform: none;
  }
  50% {
    transform: rotateY(360deg);
    transform: translateY(-5px);
  }
  100% {
    transform: none;
  }
}

.nav__notification {
  position: absolute;
  top: -6px;
  right: -18px;
  animation: notificationT 1s ease-in-out infinite;
}

.screen-header__icon .nav__notification_dot {
  background-color: red;
  color: white;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  position: absolute;
  top: -8px;
  right: 5px;
  /* animation: notificationT 1s ease-in-out infinite; */
}

.nav__notification_dot {
  background-color: red;
  color: white;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  position: absolute;
  top: -5px;
  right: -8px;
  /* animation: notificationT 1s ease-in-out infinite; */
}
