#onlymobile {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--yellow);
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0px;
  z-index: 200;
  font-size: 40px;
}

@media screen and (max-width: 490px) {
  #onlymobile {
    display: none;
  }
}
