.screen-header {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.screen-header__title {
  color: black;
  font-size: 30px;
  font-weight: 500;
}

.screen-header__icon {
  display: flex;
}

.screen-header__icon__column:last-child {
  /* background-color: red; */
  position: relative;
}

.screen-header__icon i {
  margin: 0px 12px;
  /* position: relative; */
}
